<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="RealtaSectionGroup">
      <section name="R_DBSection" type="R_BackEnd.R_DBSection, REL_BackEnd" />
    </sectionGroup>
  </configSections>
  <RealtaSectionGroup>
    <R_DBSection CommandTimeout="240">
      <R_DBConfigs>
        <add Name="R_DefaultConnectionString" ConnectionString="server=172.16.0.62\SQL2016;Initial Catalog=BIMASAKTI_11;User ID=sa;Password=993B428C56EA88C108F8AF1213EF3C7F;" ProviderName="System.Data.SqlClient" KeywordForPassword="Password" />
      </R_DBConfigs>
    </R_DBSection>
  </RealtaSectionGroup>
  <system.web>
    <httpRuntime maxRequestLength="714400" />
    <compilation strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ServiceContext" type="R_BackEnd.R_TokenContextBehavior, REL_BackEnd" />
        <!--<add name="ServiceContextInternal" type="R_BackEnd.R_InternalContextBehavior, REL_BackEnd" />-->
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndPointBehavior">
          <ServiceContext />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="160" maxConcurrentInstances="16" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="RegularBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" messageEncoding="Mtom" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="StreamingBinding" transferMode="StreamedResponse" maxReceivedMessageSize="9223372036854775807" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="50000000" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="R_SerialNo" value="8BF4F2C0573BCBC2CB231D05EDF57493F20C05B9BC12030F69BA701F24279B39" />
    <add key="R_SQL_TEMP_DIR" value="C:\Realta" />
    <!--<add key="NumberOfRecordsToFetch" value="500"/>
		<add key="GoogleCredentialFolderPath" value="D:\SVN\REALPCR\trunk\Development\REALPCR_CODE\REALPCR_SERVICE\bin\credential\"/>
		<add key="API_URL_WA" value="https://api.wappin.id"/>
		<add key="API_CLIENT_ID_WA" value="0222"/>
		<add key="API_CLIENT_SECRET_WA" value="763ff3392570dad70e4731c446adeb3346e30813"/>
		<add key="API_URL_TEXT" value="http://104.199.196.122/gateway/v3/"/>
		<add key="API_CLIENT_ID_TEXT" value="CL01"/>
		<add key="API_CLIENT_SECRET_TEXT" value="Apikey 71d5344bc425c4d0c6d4ba4291f0ea8c"/>
		<add key="BUCKET_NAME" value="wa_public_bucket"/>

		<add key="WA_VENDOR" value="bumame"/>
		<add key="API_URL_WA_MESSAGEBIRD" value="https://conversations.messagebird.com"/>
		<add key="API_CLIENT_ID_WA_MESSAGEBIRD" value="01e2b238-a6b8-4b7b-be76-eee6cf8e90a6"/>
		<add key="API_CLIENT_SECRET_WA_MESSAGEBIRD" value="LuHLmV0T2TagJ80njxg6hNI2b"/>

		<add key="API_URL_WA_BUMAME" value="https://api.bumamefarmasi.com/api"/>
		<add key="API_CLIENT_ID_WA_BUMAME" value="it@bumame.com"/>
		<add key="API_CLIENT_SECRET_WA_BUMAME" value="Bumameprod2022!"/>-->
  </appSettings>
</configuration>
<!--ProjectGuid: 610E73B4-F452-4FD1-ABA2-F68A8098B385-->