@using R_BlazorFrontEnd.Controls;
@inherits R_Page

<div class="my-component">
    This component is defined in the <strong>RazorClassLibrary1</strong> library.
</div>
<h1>

    TESTTTTTTTTTTTT
</h1>
