<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <client>
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="ServiceContext" type="ContextHelper.ServiceContextBehavior, ContextHelper"/>
        <!--<add name="ServiceContext" type="R_Common.R_ServiceContextBehavior, REL_Common"/>-->
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndPointBehavior">
          <ServiceContext/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamingBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="9223372036854775807" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="50000000" />
          <security mode="None" />
        </binding>
        <binding name="RegularBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="50000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="50000000" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IMenuService" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IMenuStreamingService" />
        <binding name="BasicHttpBinding_ILoginService" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <appSettings>
    <add key="R_ConnectionString" value="Data Source=172.16.0.62\SQL2016;User ID=sa;Password=993B428C56EA88C108F8AF1213EF3C7F;Initial Catalog=BIMASAKTI_11"/>
  </appSettings>
</configuration>
