<configuration>
  <packageSources>
    <add key="RealtaNuget" value="https://www1.realta.net/realtanuget/nuget" />
	  <add key="TelerikServer" value="https://nuget.telerik.com/v3/index.json"  protocolVersion="3"/>
  </packageSources>

  <packageSourceCredentials>
    <RealtaNuget>
      <add key="Username" value="myusername" />
      <add key="ClearTextPassword" value="xq6n4lvnayeo2f467osasdasdgj4nat7xw2mkm7qwowvqeutjdueq" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </RealtaNuget>
	<TelerikServer>
      <add key="Username" value="sihol@realta.net" />
      <add key="ClearTextPassword" value="klipingku" />
    </TelerikServer>
  </packageSourceCredentials>
  
</configuration>
