<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.net>
    <connectionManagement>
      <add maxconnection="200" address="*" />
    </connectionManagement>
  </system.net>
  <system.serviceModel>
    <client>
      <endpoint address="http://192.168.10.254/LDH_WEB_KEY_IN/RINTKEYWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="RINTKEYWebServiceSoap"
        contract="KeyServiceRef.RINTKEYWebServiceSoap" name="RINTKEYWebServiceSoap" />
      <endpoint address="http://localhost:64530/Services/MenuService/MenuService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService"
        contract="MenuServiceRef.IMenuService" name="BasicHttpBinding_IMenuService" />
      <endpoint address="http://localhost:64530/Services/LoginService/LoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
        contract="LoginServiceRef.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="http://localhost:64530/Services/MenuService/MenuStreamingService/MenuStreamingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuStreamingService"
        contract="MenuStreamingServiceRef.IMenuStreamingService" name="BasicHttpBinding_IMenuStreamingService" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="ServiceContext" type="R_Common.R_ServiceContextBehavior, REL_Common"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DefaultEndPointBehavior">
          <ServiceContext/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamingBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="9223372036854775807" transferMode="StreamedResponse">
          <readerQuotas maxArrayLength="50000000" />
          <security mode="None" />
        </binding>
        <binding name="RegularBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="50000000" messageEncoding="Mtom">
          <readerQuotas maxArrayLength="50000000" />
          <security mode="None" />
        </binding>
        <binding name="RINTKEYWebServiceSoap" />
        <binding name="BasicHttpBinding_IMenuService" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_ILoginService" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IMenuStreamingService" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="U_CompanyLogoFilePath" value="logo.png" />
    <add key="R_Md" value="'REG','SA','PQ'"/>
    <add key="R_DefaultServiceUrl" value="http://172.16.0.105/BIMASAKTI_SERVICES/Services/"/>
	<!--<add key="R_DefaultServiceUrl" value="http://localhost:13707/Services/"/>-->
    <add key="withLOG" value="1"/>
    <add key="R_InitPivot" value="INITIALIZE"/>

	  <add key="PosUserTxtBox" value="410,190"/>
	  <add key="PosPassTxtBox" value="410,245"/>
	  <add key="PosCompTxtBox" value="410,132"/>  
	  <add key="PosOKBtn" value="548,280"/>

	  <add key="SizeOKBtn" value="112,37"/>
    
	  <add key="PosComplbl" value="408,105"/>
	  <add key="PosUserlbl" value="408,163"/>
	  <add key="PosPasslbl" value="408,218"/>
	  <add key="PosLinklbl" value="480,420"/>

	  <add key="SizeLoginForm" value="706,460"/>
	  <add key="ColorFont" value="133,133,133"/>
	  <add key="SizeTypeFont" value="Myriad Pro,11"/>
	  <add key="ColorBorderTxt" value="133,133,133"/>

	  <add key="ImgBG_Login" value="bg-login.jpg"/>
	  <add key="ImgBG_LoginBtn" value="btn-login.png"/>
	  <add key="ImgBG_LoginBtnHover" value="btn-login-press.png"/>
	  <add key="ImgBG_LoginBtnPress" value="btn-login-press.png"/>
	  <add key="ImgBG_Menu" value="bg-menu.jpg"/>
	  <add key="ImgIcon" value="RealPCR_icon.ico"/>

    <add key="R_ApplicationID" value="BIMASAKTI_11"/>
    <add key="R_DefaultLanguage" value="EN"/>
    <add key="R_ChunkSize" value="128"/>
    <add key="R_MaxOpenProgram" value="0"/>
  </appSettings>
</configuration>